<div class="card">
  <p-carousel [value]="data" [numVisible]="3" [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions">
    <ng-template let-movie pTemplate="item">
      <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
        <div class="mb-3">
          <img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" [alt]="movie.title" class="w-6 shadow-2" />
        </div>
        <div>
          <h4 class="mb-1">{{ movie.title || movie.name }}</h4>
          <p class="mt-0 mb-2">{{ movie.release_date || movie.first_air_date }}</p>
          <div class="mt-4 flex align-items-center justify-content-center btn-card">
            <p-button icon="pi pi-search" [rounded]="false" label="Detail" (onClick)="onDetailClick(movie)" />
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
