<!-- <div class="card">
  <p-carousel [value]="data" [numVisible]="3" [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions">
    <ng-template let-product pTemplate="item">
      <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
        <div class="mb-3">
          <img src="https://image.tmdb.org/t/p/w500/{{ data.poster_path}}" [alt]="data.title" class="w-6 shadow-2" />
        </div>
        <div>
          <h4 class="mb-1">{{ data.title }}</h4>
          <h6 class="mt-0 mb-3">{{ '$' + product.price }}</h6>
          <p-tag [value]="data.popularity" [severity]="getSeverity(data.popularity)"></p-tag>
          <div class="mt-5 flex align-items-center justify-content-center gap-2">
          <p-button icon="pi pi-search" [rounded]="true" />
          <p-button icon="pi pi-star-fill" [rounded]="true" severity="secondary" />
        </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div> -->

<div class="card">
  <p-carousel [value]="data" [numVisible]="3" [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions">
    <ng-template let-product pTemplate="item">
      <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
        <div class="mb-3">
          <!-- Gunakan product bukan data untuk mengakses properti dari item saat ini -->
          <img src="https://image.tmdb.org/t/p/w500/{{ product.poster_path }}" [alt]="product.title" class="w-6 shadow-2" />
        </div>
        <div>
          <h4 class="mb-1">{{ product.title }}</h4>
          <!-- Contoh jika Anda memiliki harga dalam product, ganti dengan properti yang sesuai -->
          <h6 class="mt-0 mb-3">{{ '$' + product.price }}</h6>
          <!-- Gunakan product untuk mengakses popularity -->
          <p-tag [value]="product.popularity" [severity]="getSeverity(product.popularity)"></p-tag>
          <div class="mt-5 flex align-items-center justify-content-center gap-2">
            <p-button icon="pi pi-search" [rounded]="true" />
            <p-button icon="pi pi-star-fill" [rounded]="true" severity="secondary" />
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
