<div class="head-wraper">
  <div class="jumbotron">
    <div class="img-container">
    </div>
    <div class="desc-container">
      <div class="title-head">
        <div class="title"></div>
        <div class="title"></div>
      </div>
      <div class="action">
        <div class="add-to-fav"></div>
      </div>
      <div class="desc-info">
        <div class="tagline"></div>
        <div class="overview"></div>
        <div class="production-home"></div>
      </div>
    </div>
  </div>

  <div>
    <h3>Pemeran</h3>
  </div>
  <div class="line-break">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>

  <div class="caster-info">
    <div class="caster"></div>
    <div class="info"></div>
  </div>
</div>

<app-footer></app-footer>