.jumbotron {
  display: flex;
  margin-top: 70px;
  margin-bottom: 50px;
  height: 600px;
  border-radius: 10px;
  
  .container {
    background-image: url('../../../assets/cinematic-convert.png');
    object-fit: contain !important;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: brightness(0.5);
    color: gold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  }

  h1 {
    font-size: 46px;
    font-weight: 800;
  }
}