<div class="card">
  <p-carousel [value]="data" [numVisible]="5" [numScroll]="5" [circular]="false" [responsiveOptions]="responsiveOptions">
    <ng-template let-movie pTemplate="item">
      <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
        <div class="mb-3">
          <img src="https://image.tmdb.org/t/p/w500/{{ movie.profile_path }}" [alt]="movie.name" class="w-6 shadow-2" />
        </div>
        <div>
          <h4 class="mb-1">{{ movie.original_name }}</h4>
          <p class="mt-0 mb-2">{{ movie.character }}</p>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
