<div class="head-wraper">
  <div class="jumbotron">
    <div class="image-backdrop">
      <img src="https://image.tmdb.org/t/p/w500/{{movieDetail.backdrop_path}}" alt="movie-backdrop">
    </div>
    <div class="info-contain">
      <div class="img-container">
        <div>
          <img src="https://image.tmdb.org/t/p/w500/{{movieDetail.poster_path}}" alt="movie-poster">
        </div>
      </div>
      <div class="desc-container">
        <div class="title-head">
          <div class="title">
            <h1>{{ movieDetail.name || movieDetail.title }} <span>({{ movieDetail.first_air_date || movieDetail.release_date }})</span></h1>
            <p>{{ formatDate(movieDetail.first_air_date || movieDetail.release_date) }} - <span>{{ movieDetail?.genres[0].name }}</span> </p>
          </div>
        </div>
        <div class="action">
          <div class="add-to-fav">
            <p-button *ngIf="!isAdded" (click)="addFavorite()" severity="info" label="Tambahkan Ke Favorite" icon="pi pi-check"></p-button>
            <p-button *ngIf="isAdded" (onClick)="deleteFavorite()" severity="danger" label="Hapus Dari Favorite" icon="pi pi-check"></p-button>
          </div>
        </div>
        <div class="desc-info">
          <div class="tagline">
            <i>{{ movieDetail.tagline }}</i>
          </div>
          <div class="overview">
            <h1>Kilasan Singkat</h1>
            <p>{{ movieDetail.overview }}</p>
          </div>
          <div class="production-home"></div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <h3>Pemeran</h3>
  </div>
  <div class="line-break">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>

  <div class="caster-info">
    <div class="caster"></div>
    <div class="info"></div>
  </div>
</div>

<app-footer></app-footer>