<div class="head-wraper">
  <div class="jumbotron">
    <div class="image-backdrop">
      <img src="https://image.tmdb.org/t/p/w500/{{movieDetail.backdrop_path}}" alt="movie-backdrop">
    </div>
    <div class="info-contain">
      <div class="img-container">
        <div>
          <img src="https://image.tmdb.org/t/p/w500/{{movieDetail.poster_path}}" alt="movie-poster">
        </div>
      </div>
      <div class="desc-container">
        <div class="title-head">
          <div class="title">
            <h1>{{ movieDetail.name || movieDetail.title }} <span>({{ getYear(movieDetail.first_air_date || movieDetail.release_date) }})</span></h1>
            <p>{{ movieDetail.first_air_date || movieDetail.release_date | customDate }} - <span>{{ movieDetail?.genres[0].name }}</span> </p>
          </div>
        </div>
        <div class="action">
          <div class="add-to-fav">
            <p-toast></p-toast>
            <p-button *ngIf="!isAdded" (click)="addFavorite(); showAddSuccess()" severity="info" label="Tambahkan Ke Favorite" icon="pi pi-check"></p-button>
            <p-button *ngIf="isAdded" (onClick)="deleteFavorite(); showRemoveSuccess()" severity="danger" label="Hapus Dari Favorite" icon="pi pi-check"></p-button>
          </div>
        </div>
        <div class="desc-info">
          <div class="tagline">
            <i>{{ movieDetail.tagline }}</i>
          </div>
          <div class="overview">
            <h1>Kilasan Singkat</h1>
            <p>{{ movieDetail.overview }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="line-break">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>

  <div class="movie-info-container">
    <div class="movie-info">
      <div class="status-release">
        <h5>Status</h5>
        <p>{{ movieDetail.status || '-'}}</p>
      </div>
      <div class="genre">
        <h5>Genre</h5>
        <p>{{ movieDetail?.genres[0].name || '-'}}</p>
      </div>
      <div class="languange">
        <h5>Languange</h5>
        <p>{{ movieDetail?.spoken_languages[0].name || '-' }}</p>
      </div>
      <div class="budget">
        <h5>Budget</h5>
        <p>{{ movieDetail.budget | currency:'USD':'code':'4.2-2' || '-' }}</p>
      </div>
      <div class="revenue">
        <h5>Revenue</h5>
        <p>{{ movieDetail.revenue | currency:'USD':'code':'4.2-2' || '-' }}</p>
      </div>
    </div>
  </div>

  <div class="line-break">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>

  <div class="caster-info">
    <div class="caster">
      <app-caster [data]="credits"></app-caster>
    </div>
  </div>
</div>

<app-footer></app-footer>