<app-jumbotron></app-jumbotron>

<div class="playing-head">
  <h3 class="text-heading">Tranding</h3>
  <div class="line-break">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
  <div class="on-tranding">
    <app-tranding></app-tranding>
  </div>

  <h3 class="text-heading">Now Showing</h3>
  <div class="line-break">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
  <div class="now-showing">
    <app-playing></app-playing>
  </div>
</div>

<app-footer></app-footer>