<app-jumbotron></app-jumbotron>

<div class="playing-head">
  <h3 class="text-heading">Trending</h3>
  <div class="line-break">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
  <div class="on-tranding">
    <div class="progress">
      <p-progressSpinner *ngIf="spinning"></p-progressSpinner>
    </div>
    <div *ngIf="!spinning">
      <app-tranding [data]="trending"></app-tranding>
    </div>
  </div>

  <h3 class="text-heading">Now Showing</h3>
  <div class="line-break">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
  <div class="now-showing" #scrollingContainer>
    <app-playing [movies]="movies"></app-playing>
  </div>
</div>

<app-footer></app-footer>