<div class="card-container">
  <div *ngFor="let playlist of playlists">
    <p-card class="parent-card" [header]="playlist.header" [subheader]="playlist.subHeader" [style]="{ width: '360px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
      </ng-template>
      <p>{{ playlist.description }}</p>
      <ng-template pTemplate="footer">
        <p-button label="Save" icon="pi pi-check"></p-button>
        <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
      </ng-template>
    </p-card>
  </div>
</div>
