<div class="card-container">
  <div *ngFor="let playlist of playlists">
    <p-card class="parent-card" [header]="playlist.header" [subheader]="playlist.subHeader" [style]="{ width: '360px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
      </ng-template>
      <p>{{ playlist.description }}</p>
      <ng-template pTemplate="footer">
        <p-button label="Detail" icon="pi pi-check" (onClick)="onCardClick(playlist)"></p-button>
      </ng-template>
    </p-card>
  </div>
</div>
