.p-component {
  width: 400px !important;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;

  .parent-card {
    margin: 30px;
    flex: 0 1 360px;
    img {
      width: 400px;
      height: 500px;
      border-radius: 10px;
      -webkit-filter: brightness(50%);
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
      transition: all 1s ease;
    }
  
    img:hover {
      -webkit-filter: brightness(100%);
    }
  }
}

