// .card-container {
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
//   grid-gap: 20px;
// }

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;

  .parent-card {
    margin: 30px;
    flex: 0 1 360px;
  }
}

